:root.theme-light {
  --main-font: "IBM Plex Mono";
  --bg-color: #fff1f7;
  --header-decor: #353430;
  --nav-color: #353430;
  --button-active: #353430;
  --section-heading: #353430;
  --headings-color: #353430;
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --header-color: #ffc2e6;
  --title-decor: #ff8dcb;
  --bg-image: url(../images/cover-image-light.png);
  --page-padding: 20px;
  --color-opacity: rgba(53, 52, 48, 0.4);
}

.theme-light .header__decor-circle {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --main-font: "IBM Plex Mono";
    --bg-color: #fff1f7;
    --header-decor: #353430;
    --nav-color: #353430;
    --button-active: #353430;
    --section-heading: #353430;
    --headings-color: #353430;
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --header-color: #ffc2e6;
    --title-decor: #ff8dcb;
    --bg-image: url(../images/cover-image-light.png);
    --page-padding: 20px;
    --color-opacity: rgba(53, 52, 48, 0.4);
  }

  .header__decor-circle {
    display: none;
  }
} 