.page {
  color: var(--text-color, #f1b2ce);
  font-family: var(--main-font, monospace);
  font-size: 18px;
  background-color: var(--bg-color, #000028);
  padding: 10px 10px 0;
  background-image: var(--bg-image);
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
}

.header__heading {
  font-family: var(--main-font, monospace);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--header-color, #db00ff);
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
  font-weight: 700;
  line-height: 95.7px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  justify-self: center;
  align-self: center;
}

.header {
  display: grid;
  grid-template-rows: auto min-content auto;
  height: 100vh;
  min-height: 668px;
  margin-block-end: 30px;
}

.header__decor-circle::after {
  content: "";
  position: absolute;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color, #ff0070);
  box-shadow: 0px 0px 4px 2px var(--accent-color, #ff0070);
  top: 8px;
  left: 42px;
}

.header__theme-menu {
  justify-items: end;
  justify-self: end;
  align-self: center;
  margin-block-start: 8px;
  margin-block-end: 12px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.header__theme-menu-item {
  color: var(--nav-color, #ff0070);
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  inline-size: 70px;
  block-size: 25px;
}

.question__heading {
  font-family: var(--main-font, monospace);
}

.header__text {
  background-color: var(--title-decor, #ff0070);
  color: var(--headings-color, #000028);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  position: relative;
  height: fit-content;
  align-self: center;
  margin-block-end: 22px;
}

.header__decor {
  color: var(--accent-color, #ff0070);
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  position: absolute;
  right: 28px;
}

.header__theme-menu-button {
  background-color: transparent;
  text-transform: lowercase;
  border: none;
  inline-size: 70px;
  block-size: 26px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-bottom: 1px solid var(--header-decor, #ff0070);
  border-left: 1px solid var(--header-decor, #ff0070);
  align-self: end;
  justify-self: self-start;
  bottom: 21px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 0;
  inline-size: 25px;
  block-size: 25px;
  justify-self: end;
  border-top: 1px solid var(--header-decor, #ff0070);
  border-right: 1px solid var(--header-decor, #ff0070);
}

.section__heading {
  color: var(--section-heading, #ff0070);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-block-end: 20px;
}

.card__heading {
  background-color: var(--title-decor, #ff0070);
  color: var(--headings-color, #000028);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-block-end: 10px;
}

.card__text {
  color: var(--text-color, #f1b2ce);
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.card__text:not(:last-child) {
  margin-block-end: 10px;
}

.card {
  margin-block-end: 20px;
}

.section__causes-list .card:last-of-type {
  margin-block-end: 0px;
}

article:last-of-type {
  margin-block-end: 49px;
}

.link__effects {
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--accent-color, #ff0070);
}

.section__causes .list {
  display: grid;
  margin-block-end: 50px;
}

.section__list .card__heading {
  margin-block-end: 20px;
}

.section__advice-card .card__heading {
  font-weight: 400;
  margin-block-end: 10px;
}

.section__advice-card {
  margin-block-end: 20px;
}

.section__advice-card:last-child {
  margin-block-end: 0px;
}

.gallery__list {
  display: grid;
  gap: 10px;
}

.gallery__list-item-img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
  display: block;
}

.main {
  margin-block-end: 40px;
}

.footer {
  display: grid;
  justify-items: center;
  height: 100vh;
  min-height: 668px;
}

.footer.decorated-zone::after {
  bottom: 14px;
}

.footer.decorated-zone::before {
  top: 10px;
}

.footer__heading {
  font-family: var(--main-font, monospace);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--header-color, #db00ff);
  text-shadow: 2px 2px 0 var(--accent-color, #ff0070);
  font-weight: 700;
  line-height: 95.7px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  justify-self: center;
  align-self: center;
}

@media (768px <=width) {
  .page {
    padding: var(--page-padding, 20px);
    padding-bottom: 0;
  }

  .main {
    margin-block-end: 64px;
  }

  .header {
    margin-block-end: 40px;
    min-height: 1024px;
  }

  .header.decorated-zone::after {
    bottom: 40px;
  }

  .header__theme-menu {
    margin-block-start: 6px;
    margin-block-end: 0;
  }

  .header__heading {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    inline-size: calc(100% + var(--page-padding, 20px) * 2);
    inset-inline-end: var(--page-padding, 20px);
    position: relative;
    margin-block-start: 8px;
    justify-self: baseline;
  }

  .header__text {
    width: 50%;
    justify-self: end;
    margin-block-end: 37px;
  }

  .content__section:not(.section__causes) {
    display: grid;
    grid-template-columns: 33% auto;
    gap: 16px;
    margin-block-end: 30px;
  }

  .section__causes .section__heading {
    width: 30%;
  }

  .section__causes {
    margin-block-end: 80px;
  }

  .card__text:not(:last-child) {
    margin-block-end: 20px;
  }

  .gallery__heading {
    margin-block-end: 19px;
  }

  .gallery__list {
    grid-template-rows: auto;
    gap: 20px;
  }

  .gallery__list-item-img {
    min-height: 100%;
  }

  .gallery__list-item:nth-child(1) {
    grid-column: 1 / 3;
  }

  .gallery__list-item:nth-child(2) {
    grid-row: 1 / 3;
    grid-column: 3 / 4;
  }

  .gallery__list-item:nth-child(3) {
    grid-row: 2 / 4;
  }

  .gallery__list-item:nth-child(4) {
    grid-row: 2/ 3;
    grid-column: 2 / 3;
  }

  .gallery__list-item:nth-child(5) {
    grid-row: 3 / 4;
    grid-column: 2 / 4;
  }

  .footer {
    min-height: 1024px;
  }

  .footer.decorated-zone::after {
    bottom: 20px;
  }

  .footer.decorated-zone::before {
    top: 20px;
  }

  .footer__heading {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (1024px <=width) {
  .main {
    margin-block-end: 63px;
  }

  .header {
    min-height: 768px;
  }

  .header__theme-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: baseline;
    margin-block: 0;
  }

  .header__theme-menu-list {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-direction: row;
    align-items: baseline;
  }

  .header__heading {
    align-self: baseline;
    line-height: 129.53px;
    margin-block-start: 42px;
  }

  .header__text {
    align-self: center;
    margin-block-end: 39px;
  }

  .content__section:not(.section__causes) {
    gap: 10px;
  }

  .section__why {
    gap: 40px;
  }

  .section__causes .list {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .section__causes {
    margin-block-end: 80px;
  }

  .section__advice {
    gap: 10px;
  }

  .footer {
    min-height: 768px;
  }

  .footer.decorated-zone::before {
    top: 20px;
  }
}

.header__theme-menu-button_active {
  outline: 1px solid var(--button-active, #ff0070);
  inline-size: 100%;
  block-size: 100%;
}

.header__theme-menu-item:hover {
  outline: 1px solid var(--color-opacity);
}

.link__effects:hover {
  border-block-end: 1.5px solid var(--text-color, #f1b2ce);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-block-end: 1px solid var(--button-active, #ff0070);
}

.link__effects:focus-visible {
  outline: 1px solid var(--text-color, #f1b2ce);
}